<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Autonomous cars</a></li>
	        		<li><a href="/The experiment">The experiment</a></li>
	        		<li><a href="/contact">Contact</a></li>
	        		<li><a href="/about VR">About VR</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ahtchine.e@gmail.com">email</a></li>
	        		<li><a href="https://github.com/EmelineAuto">github.com/EmelineAuto</a></li>
				</ul>
			</footer>
		</body>
	</html>
